<!-- <div>Custnom Class & Style Directive</div>
<div appClass [display]="{'app-container': true, 'appHighlight': true, 'appFont': 5 > 2}">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, fugit provident eaque suscipit ipsum quis distinctio! Dignissimos similique ullam quod ab minus architecto excepturi, ea atque delectus unde amet quisquam.
  </p>
</div> -->

<div>Custnom Class & Style Directive</div>
<div [appClass]="{'app-container': true, 'appHighlight': true, 'appFont': 5 > 2}">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, fugit provident eaque suscipit ipsum quis distinctio! Dignissimos similique ullam quod ab minus architecto excepturi, ea atque delectus unde amet quisquam.
  </p>
</div>

<!-- <div class="app-container" appStyle [style]="{backgroundColor: active ? 'green': 'red', color: active ? 'white': 'black'}">
 -->
<div class="app-container" [appStyle]="{backgroundColor: active ? 'green': 'red', color: active ? 'white': 'black'}">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, fugit provident eaque suscipit ipsum quis distinctio! Dignissimos similique ullam quod ab minus architecto excepturi, ea atque delectus unde amet quisquam.
  </p>
</div>
